/*
 * LYT Buttons
 */

@use "../partials/variables" as vars; 
@use '../partials/mixins' as *;


$font-family-base: "Montserrat";
$font-family-ios-base: $font-family-base;
$font-family-md-base: $font-family-base;
$font-family-wp-base: $font-family-base;

.lyt-c-circle-btn {
    position: relative;
    width: vars.$lyt-circle-size-xs;
    height: vars.$lyt-circle-size-xs;

    button {
        @include absolute-full;
        appearance: none;
        padding: 0;
        color: vars.$lyt-color-white;
        background-color: transparent;
    }

    &.lyt-c-circle-btn--sm {
        width: vars.$lyt-circle-size-sm;
        height: vars.$lyt-circle-size-sm;
    }

    &.lyt-c-circle-btn--md {
        width: vars.$lyt-circle-size-md;
        height: vars.$lyt-circle-size-md;
    }
}

.lyt-btn-circle-md {
    font-size: vars.$font-size-stack;
    font-weight: bold;
    text-transform: uppercase;
}

.lyt-btn-quiet {
    padding: vars.$lyt-gutter-05 0;
    background-color: transparent;
    border: none;
    color: vars.$color-warning;
    font-size: 20px;
    font-weight: bold;

    &.lyt-btn-quiet--uppercase {
        text-transform: uppercase;
    }

    &.lyt-btn-quiet--white {
        color: vars.$lyt-color-white;
    }

    &.lyt-btn-quiet--secondary {
        color: vars.$lyt-color-secondary;
    }

    &.lyt-btn-quiet--sm {
        font-size: vars.$font-size-sm;
    }

    &.lyt-btn-quiet--font-regular {
        font-weight: 400;
    }
}

.lyt-btn {
    padding: vars.$lyt-gutter-075 vars.$lyt-gutter-05;
    color: vars.$lyt-color-white;
    border-radius: 50px;
    font-family: $font-family-base;
    font-weight: bold;
    font-size: vars.$font-size-stack;
}

.lyt-btn--primary {
    background-color: vars.$lyt-color-primary;
    border: 2px solid vars.$lyt-color-primary;
}

.lyt-btn--secondary {
    background-color: transparent;
    border: 2px solid vars.$lyt-color-white;
}

.lyt-btn--link {
    background-color: transparent;
    border-color: transparent;

    &.lyt-btn--primary {
        color: vars.$lyt-color-secondary;
    }

    &.lyt-btn--default {
        color: vars.$lyt-color-gray;
    }
}

.lyt-btn--success {
    border: 1px solid vars.$lyt-color-secondary !important;
    background-color: transparent !important;
    color: vars.$lyt-color-secondary !important;
    border-radius: vars.$lyt-radius-sm !important;
    padding: vars.$lyt-gutter-025 vars.$lyt-gutter !important;
    font-weight: normal !important;
    &.lyt-btn--lg {
        padding: vars.$lyt-gutter-075 vars.$lyt-gutter-2;
    }
}
