/*
 * LYT Forms
 */
@use "../partials/variables" as vars;

$lyt-input-validation-height: 35px;

/*
 * Form
 */
.lyt-c-form__body {
    margin-top: var(--lyt-gutter);
}

// Form input

.lyt-c-form-input-group {
    position: relative;
    margin-bottom: 32px;
    
    // Modern Ionic form inputs are wrapped in ion-item
    ion-item {
        --background: transparent;
        --border-color: var(--lyt-color-white); // Use CSS variable for the borde
        --border-width: 0 0 1px 0; // Set bottom border only
        --padding-start: 0;
        --inner-padding-end: 0;

        // Old ion-label stacked is now a slot on ion-item
        ion-label[position="stacked"] {
            // This is the new way to style stacked labels.
            // You may need to adjust the styles to match your design.
            transform: translateY(-50%);
        }

        // To style the input's placeholder
        ion-input {
            &::part(native) {
                font-weight: 300;
            }
            &::part(placeholder) {
                color: var(--color-webkit-text-fill);
            }
        }
    }
}

// Form validation

.lyt-c-form-input-validation {
    position: absolute;
    bottom: 0; // Change to bottom: 0 to position it below the input
    left: 0;
    font-size: var(--font-size-xs);
    display: flex;
    align-items: center;
    height: $lyt-input-validation-height;
    width: 100%;
    color: var(--color-warning);

    .lyt-c-form-input-validation__icon {
        margin-right: var(--lyt-gutter-025);
    }

    .lyt-c-form-input-validation__content {
        margin: 0;
        position: absolute;
    bottom: -18px;
    }
}

// Form footer

.lyt-c-form-footer {
    display: flex;
    align-items: center;
    margin-top: var(--lyt-gutter-15);
}

.lyt-c-form-footer__content {
    margin-right: var(--lyt-gutter-05);
    font-size: var(--font-size-sm);
}

.lyt-c-form-footer__action {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

// Form preview component

.lyt-c-form-preview__group {
    margin-top: var(--lyt-gutter-15);
}

.lyt-c-form-preview__label {
    text-transform: uppercase;
    font-size: var(--font-size-sm);
    font-weight: 400;
}

.lyt-c-form-preview__content {
    font-size: var(--font-size-xl);
    font-weight: 400;
    line-height: 1.6;
}
.password-error-message{
    bottom: -33px !important;
}