/*
 * LYT Main circle
 */
@use "../partials/variables" as vars; 
@use '../partials/mixins' as *;

.lyt-c-circle {
    @include flex-center;
}

.lyt-c-circle--size-xs {
    @include circle-size(vars.$lyt-circle-size-xs, vars.$lyt-circle-increment-coefficient);

    &.lyt-c-circle--rings-3 {
        @include circle-size(vars.$lyt-circle-size-xs, vars.$lyt-circle-increment-coefficient-sm);
    }
}

.lyt-c-circle--size-sm {
    @include circle-size(vars.$lyt-circle-size-sm, vars.$lyt-circle-increment-coefficient);

    &.lyt-c-circle--rings-3 {
        @include circle-size(vars.$lyt-circle-size-sm, vars.$lyt-circle-increment-coefficient-sm);
    }
}

.lyt-c-circle--size-md {
    @include circle-size(vars.$lyt-circle-size-md, vars.$lyt-circle-increment-coefficient);

    &.lyt-c-circle--rings-3 {
        @include circle-size(vars.$lyt-circle-size-md, vars.$lyt-circle-increment-coefficient-sm);
    }
}

.lyt-c-circle--size-lg {
    @include circle-size(vars.$lyt-circle-size-lg, vars.$lyt-circle-increment-coefficient);

    &.lyt-c-circle--rings-3 {
        @include circle-size(vars.$lyt-circle-size-lg, vars.$lyt-circle-increment-coefficient-sm);
    }
}

.lyt-c-circle__main,
.lyt-c-circle__outside-01,
.lyt-c-circle__outside-02,
.lyt-c-circle__outside-03 {
    border-radius: vars.$lyt-radius-round;
    flex-shrink: 0;
}

.lyt-c-circle__outside-01,
.lyt-c-circle__outside-02,
.lyt-c-circle__outside-03 {
    pointer-events: none;
}

.lyt-c-circle__main {
    @include absolute-full;
    background-color: vars.$lyt-color-primary;

    .lyt-c-circle--bg & {
        background-color: vars.$lyt-color-primary-01;
    }
}

.lyt-c-circle__outside-01 {
    background-color: vars.$lyt-color-primary-01;

    .lyt-c-circle--bg & {
        background-color: vars.$lyt-color-primary-02;
    }

    .lyt-c-circle--rings-3 & {
        background-color: vars.$lyt-color-rings-bg-3-1;
    }
}

.lyt-c-circle__outside-02 {
    background-color: vars.$lyt-color-primary-02;

    .lyt-c-circle--bg & {
        background-color: vars.$lyt-color-primary-03;
    }

    .lyt-c-circle--rings-3 & {
        background-color: vars.$lyt-color-rings-bg-3-2;
    }
}

.lyt-c-circle__outside-03 {
    background-color: vars.$lyt-color-primary-03;

    .lyt-c-circle--bg & {
        background-color: vars.$lyt-color-primary-04;
    }

    .lyt-c-circle--rings-3 & {
        background-color: transparent;
    }
}

.lyt-c-circle__outside-01,
.lyt-c-circle__outside-02,
.lyt-c-circle__outside-03 {
    position: absolute;
}

.lyt-c-circle-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    .lyt-c-circle {
        position: absolute;
    }

    &.lyt-c-circle-bg--top-left {
        .lyt-c-circle {
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
        }
    }
}

.lyt-c-circle--rings-3.lyt-animate-circle-rings-3 {
    .lyt-c-circle__outside-01 {
        background-color: vars.$lyt-color-primary;
    }

    .lyt-c-circle__outside-02 {
        background-color: vars.$lyt-color-rings-bg-3-1;
    }
}