<navbar [title]="''"
        [hideBackButton]="false"
        [hideSettingsButton]="true">
</navbar>

<ion-content>
    <div class="lyt-c-page-wrapper">
        <div class="lyt-c-circle-bg lyt-c-circle-bg--top-left">
            <div class="lyt-c-circle lyt-c-circle--size-lg lyt-c-circle--bg">
                <div class="lyt-c-circle__outside-03"></div>
                <div class="lyt-c-circle__outside-02"></div>
                <div class="lyt-c-circle__outside-01"></div>
                <div class="lyt-c-circle__main"></div>
            </div>
        </div>
        <div class="lyt-l-main lyt-l-main--only-middle">
            <div class="lyt-l-main__middle">
                <form [formGroup]="resetPasswordEmailForm" class="lyt-c-form">
                    <div class="lyt-c-form__heading">
                        <h2 class="lyt-c-heading">{{ 'forgot_password.title' | translate | uppercase }}</h2>
                        <p class="lyt-c-heading-description">
                            {{ 'forgot_password.message' | translate }}
                        </p>
                    </div>
                    <div class="lyt-c-form__body">
                        <div class="lyt-c-form-input-group">
                            <ion-item class="lyt-c-form-input">
                                <!-- <ion-label stacked>{{ 'common.email' | translate | uppercase }}</ion-label> -->
                                <ion-input formControlName="email"
                                           type="email"
                                           placeholder="{{ 'common.email' | translate }}"
                                           (keyup)="update(resetPasswordEmailForm, 'email')"
                                           [class.invalid]="validationService.isInvalid(resetPasswordEmailForm, 'email', true)">
                                </ion-input>
                            </ion-item>
                            <div class="lyt-c-form-input-validation"
                                 *ngIf="validationService.isInvalid(resetPasswordEmailForm, 'email', true) || validationErrors.email">
                                <div class="lyt-c-form-input-validation__icon">
                                    <ion-icon class="lyt-c-icon-sm" name="ios-information-circle-outline"></ion-icon>
                                </div>
                                <div class="lyt-c-form-input-validation__content"
                                     *ngIf="validationErrors.email">
                                    {{ validationErrors.email }}
                                </div>
                            </div>
                        </div>
                        <div class="lyt-c-form-input-group">
                            <div class="lyt-c-form-footer">
                                <div class="lyt-c-form-footer__action">
                                    <div class="lyt-c-circle-btn">
                                        <div class="lyt-c-circle lyt-c-circle--size-xs lyt-c-circle--rings-3 lyt-animate-circle-rings-3">
                                            <div class="lyt-c-circle__outside-03"></div>
                                            <div class="lyt-c-circle__outside-02"></div>
                                            <div class="lyt-c-circle__outside-01"></div>
                                            <div class="lyt-c-circle__main">
                                                <button type="submit"
                                                        (click)="sendResetPasswordRequest()">
                                                    <ion-icon name="arrow-forward-outline" class="lyt-c-icon-lg"></ion-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ion-content>
