<navbar 
    class="lyt-c-toolbar" 
    [title]="'change_password.title' | translate | uppercase" 
    [hideBackButton]="false" 
    [hideSettingsButton]="true"
    [showCustomButton]="true" 
    [customButtonTitle]="'common.submit' | translate" 
    (onCustomButtonClick)="changePassword(this)">
</navbar>

<ion-content>
    <div class="lyt-c-page-wrapper lyt-c-page-wrapper--has-navbar">
        <div class="lyt-c-circle-bg lyt-c-circle-bg--top-left">
            <div class="lyt-c-circle lyt-c-circle--size-lg lyt-c-circle--bg">
                <div class="lyt-c-circle__outside-03"></div>
                <div class="lyt-c-circle__outside-02"></div>
                <div class="lyt-c-circle__outside-01"></div>
                <div class="lyt-c-circle__main"></div>
            </div>
        </div>
        <form [formGroup]="changePasswordForm">
            <div class="lyt-c-form-input-group">
                <ion-item class="lyt-c-form-input">
                    <!-- <ion-label stacked>{{ 'common.old_password' | translate }}</ion-label> -->
                    <ion-input formControlName="old_password" type="password" placeholder="{{ 'common.old_password' | translate }}" (ionBlur)="update(changePasswordForm, 'old_password')"
                        [class.invalid]="validationService.isInvalid(changePasswordForm, 'old_password', submitted)">
                    </ion-input>
                </ion-item>
                <div class="lyt-c-form-input-validation" *ngIf="validationErrors.old_password">
                    <div class="lyt-c-form-input-validation__icon">
                        <ion-icon class="lyt-c-icon-sm" name="ios-information-circle-outline"></ion-icon>
                    </div>
                    <div class="lyt-c-form-input-validation__content" *ngIf="validationErrors.old_password">
                        {{ validationErrors.old_password }}
                    </div>
                </div>
            </div>
            <div class="lyt-c-form-input-group">
                <ion-item class="lyt-c-form-input">
                    <!-- <ion-label stacked>{{ 'common.new_password' | translate }}</ion-label> -->
                    <ion-input formControlName="new_password" type="password" placeholder="{{ 'common.new_password' | translate }}" (ionBlur)="update(changePasswordForm, 'new_password')"
                        [class.invalid]="validationService.isInvalid(changePasswordForm, 'new_password', submitted)">
                    </ion-input>
                </ion-item>
                <div class="lyt-c-form-input-validation" *ngIf="validationService.isInvalid(changePasswordForm, 'new_password', submitted)">
                    <div class="lyt-c-form-input-validation__icon">
                        <ion-icon class="lyt-c-icon-sm" name="ios-information-circle-outline"></ion-icon>
                    </div>
                    <div class="lyt-c-form-input-validation__content password-error-message" *ngIf="validationErrors.new_password">
                        {{ validationErrors.new_password }}
                    </div>
                </div>
            </div>

            <div class="lyt-c-form-input-group">
                <ion-item class="lyt-c-form-input">
                    <!-- <ion-label stacked>{{ 'common.confirm_password' | translate }}</ion-label> -->
                    <ion-input formControlName="new_password_confirmation" type="password" placeholder="{{ 'common.confirm_password' | translate }}"
                        (ionBlur)="update(changePasswordForm, 'new_password_confirmation')" [class.invalid]="validationService.isInvalid(changePasswordForm, 'new_password_confirmation', submitted)">
                    </ion-input>
                </ion-item>
                <div class="lyt-c-form-input-validation" *ngIf="validationService.isInvalid(changePasswordForm, 'new_password_confirmation', submitted)">
                    <div class="lyt-c-form-input-validation__icon">
                        <ion-icon class="lyt-c-icon-sm" name="ios-information-circle-outline"></ion-icon>
                    </div>
                    <div class="lyt-c-form-input-validation__content" *ngIf="validationErrors.new_password_confirmation">
                        {{ validationErrors.new_password_confirmation }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</ion-content>