.disconnect-btn {
    color: #ee384e !important;
    border: 2px solid #ee384e !important;
    border-radius: 5px !important;
    text-transform: uppercase !important;
    letter-spacing: .5px !important;
    font-weight: 400 !important;
    padding: 5px 20px !important;
}
.color-picker-wrapper, .lyt-c-page-wrapper.lyt-c-page-wrapper--has-navbar.lyt-c-page-wrapper--padding-stack {
    padding-top: var(--lyt-gutter-05, 10px) !important;
}