.settings-button {
      float: right;
}
.back-btn {
      width: 20px;
}
.md{
      navbar{
            ion-header{
                  ion-toolbar{
                        ion-title{
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        top: 50%;
                        z-index: -1;
                        }
                  }
            }
      }
}
.navbar-header{
      /* padding-top: 11px; */
}
ion-toolbar::part(container) {
      padding-top: 11px;
}