<navbar [title]="'presets.title' | translate | uppercase"
        [hideBackButton]="false"
        [hideSettingsButton]="true">
</navbar>

<ion-content class="ion-no-swipe ion-padding-top-0">
    <div class="lyt-c-page-wrapper lyt-c-page-wrapper--padding-stack lyt-c-page-wrapper--has-navbar">
        <div class="content">
            <div class="section">
                <h2 class="section-title">Colors</h2>
                <div class="colors-grid" *ngFor="let preset of presetService.presets">
                    <div 
                        class="color-circle" 
                        *ngFor="let color of preset.colors" 
                        [ngStyle]="{'background-color': color.getHexCode(), 'border': this.currentValue.activeColor == color.getHexCode() ? '3px solid lightgray' : 'none'}"
                    ></div>
                </div>
            </div>

            <div class="divider"></div>
            
            <div class="section speed-section" *ngIf="!currentValue.presetStatus">
                <h2 class="section-title">Speed</h2>
                <div class="range-slider">
                    <ion-range
                        min="100"
                        max="5000"
                        step="1"
                        snaps="true"
                        pin="true"
                        [min]="100"
                        [max]="5000"
                        [step]="1"
                        [(ngModel)]="currentValue.speed"
                    ></ion-range>
                </div>
                <ion-label slot="end">{{currentValue.speed}}</ion-label>
            </div>

            <div class="divider" *ngIf="!currentValue.presetStatus"></div>

            <div class="section animation-section" *ngIf="!currentValue.presetStatus">
                <h2 class="section-title">Animation effect</h2>
                <div class="buttons-grid">
                    <button
                        [ngClass]="{ 
                            'animation-button': true, 
                            'selected': this.currentValue.animation == 'pulse' 
                        }" 
                        (click)="changeAnimation('pulse')"
                    >
                        Pulse
                    </button>

                    <button
                        [ngClass]="{ 
                            'animation-button': true, 
                            'selected': this.currentValue.animation == 'wave' 
                        }" 
                        (click)="changeAnimation('wave')"
                    >
                        Wave
                    </button>

                    <button
                        [ngClass]="{ 
                            'animation-button': true, 
                            'selected': this.currentValue.animation == 'strobe' 
                        }" 
                        (click)="changeAnimation('strobe')"
                    >
                        Strobe
                    </button>

                    <button
                        [ngClass]="{ 
                            'animation-button': true, 
                            'selected': this.currentValue.animation == 'mix' 
                        }" 
                        (click)="changeAnimation('mix')"
                    >
                        Mix
                    </button>
                </div>
            </div>

            <div *ngIf="currentValue.presetStatus" class="lyt-c-preset-cancel">
                <h2 class="lyt-c-heading">Preset Activated</h2>
                <div class="lyt-c-action-buttons">
                    <button type="button" class="lyt-btn lyt-btn--success lyt-btn--lg" (click)="deactivatePreset()">
                        {{ 'common.cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</ion-content>
