<form [formGroup]="accountForm" class="lyt-c-form">
    <div class="lyt-c-form__body">
        <div class="lyt-c-form-input-group">
            <ion-item class="lyt-c-form-input">
                <!-- <ion-label stacked>{{ 'common.name' | translate | uppercase }}</ion-label> -->
                <ion-input formControlName="given_name"
                           type="text"
                           placeholder="{{ 'common.name' | translate | uppercase }}"
                           (keyup)="update(accountForm, 'given_name')"
                           [class.invalid]="validationService.isInvalid(accountForm, 'given_name', true)">
                </ion-input>
            </ion-item>
            <div class="lyt-c-form-input-validation"
                 *ngIf="validationService.isInvalid(accountForm, 'given_name', true) || validationErrors.given_name">
                <div class="lyt-c-form-input-validation__icon">
                    <ion-icon class="lyt-c-icon-sm" name="ios-information-circle-outline"></ion-icon>
                </div>
                <div class="lyt-c-form-input-validation__content" *ngIf="validationErrors.given_name">
                    {{ validationErrors.given_name }}
                </div>
            </div>
        </div>
        <div class="lyt-c-form-input-group">
            <ion-item class="lyt-c-form-input">
                <!-- <ion-label stacked>{{ 'common.family_name' | translate | uppercase }}</ion-label> -->
                <ion-input formControlName="family_name"
                           type="text"
                           placeholder="{{ 'common.family_name' | translate | uppercase }}"
                           (keyup)="update(accountForm, 'family_name')"
                           [class.invalid]="validationService.isInvalid(accountForm, 'family_name', true)">
                </ion-input>
            </ion-item>
            <div class="lyt-c-form-input-validation"
                 *ngIf="validationService.isInvalid(accountForm, 'family_name', true) || validationErrors.family_name">
                <div class="lyt-c-form-input-validation__icon">
                    <ion-icon class="lyt-c-icon-sm" name="ios-information-circle-outline"></ion-icon>
                </div>
                <div class="lyt-c-form-input-validation__content" *ngIf="validationErrors.family_name">
                    {{ validationErrors.family_name }}
                </div>
            </div>
        </div>
        <div class="lyt-c-form-input-group">
            <ion-item class="lyt-c-form-input">
                <!-- <ion-label stacked>{{ 'common.email' | translate | uppercase }}</ion-label> -->
                <ion-input formControlName="email"
                    type="email"
                    placeholder="{{ 'common.email' | translate | uppercase }}"
                    (keyup)="update(accountForm, 'email')"
                    readonly
                    [class.invalid]="validationService.isInvalid(accountForm, 'email', true)"
                >
                </ion-input>
            </ion-item>
            <div class="lyt-c-form-input-validation"
                 *ngIf="validationService.isInvalid(accountForm, 'email', true) || validationErrors.email">
                <div class="lyt-c-form-input-validation__icon">
                    <ion-icon class="lyt-c-icon-sm" name="ios-information-circle-outline"></ion-icon>
                </div>
                <div class="lyt-c-form-input-validation__content" *ngIf="validationErrors.email">
                    {{ validationErrors.email }}
                </div>
            </div>
        </div>
    </div>
</form>
