/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@use "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@use "@ionic/angular/css/normalize.css";
@use "@ionic/angular/css/structure.css";
@use "@ionic/angular/css/typography.css";
@use "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@use "@ionic/angular/css/padding.css";
@use "@ionic/angular/css/float-elements.css";
@use "@ionic/angular/css/text-alignment.css";
@use "@ionic/angular/css/text-transformation.css";
@use "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @use "@ionic/angular/css/palettes/dark.always.css"; */
/* @use "@ionic/angular/css/palettes/dark.class.css"; */
@use "@ionic/angular/css/palettes/dark.system.css";

.custom-color-alert {
    --header-color: #852a3b !important; 
    --message-color: #444444 !important; 
}

.custom-color-alert .alert-head, 
.custom-color-alert .alert-head * {
    color: #852a3b !important;
}
.custom-color-alert .alert-message {
    color: #444444 !important; 
}
.d-none {
    display: none !important;
}

/* FILE: src/global.scss or src/styles.scss */

/* ============================================
   SAFE AREA INSETS - Android & iOS
   ============================================ */

:root {
  /* Default values for safe area */
  --ion-safe-area-top: 0px;
  --ion-safe-area-bottom: 0px;
  --ion-safe-area-left: 0px;
  --ion-safe-area-right: 0px;
}

body {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
}

/* ============================================
   ION-CONTENT PADDING
   ============================================ */

ion-content {
  --padding-bottom: calc(20px + env(safe-area-inset-bottom));
  --padding-top: calc(20px + env(safe-area-inset-top));
  --padding-left: calc(20px + env(safe-area-inset-left));
  --padding-right: calc(20px + env(safe-area-inset-right));
}

/* ============================================
   ION-FOOTER / BUTTON BARS
   ============================================ */

ion-footer {
  padding-bottom: env(safe-area-inset-bottom);
  padding-bottom: constant(safe-area-inset-bottom);
}

ion-tab-bar {
  padding-bottom: env(safe-area-inset-bottom);
  padding-bottom: constant(safe-area-inset-bottom);
}

/* ============================================
   BUTTON FIX - SAMSUNG BOTTOM CUTOFF
   ============================================ */

.ion-button-container,
ion-button-bar,
.button-bar {
  padding-bottom: calc(16px + env(safe-area-inset-bottom)) !important;
  margin-bottom: 0 !important;
}

/* For buttons at the bottom of pages */
.button-group {
  padding-bottom: calc(16px + env(safe-area-inset-bottom)) !important;
  margin-bottom: 0 !important;
}

/* Generic button wrapper */
ion-buttons {
  padding-bottom: env(safe-area-inset-bottom);
}

/* Specific fix for action buttons */
.action-buttons {
  padding-bottom: calc(20px + env(safe-area-inset-bottom)) !important;
  margin-bottom: 0 !important;
}

/* ============================================
   ION-HEADER - TOP NOTCH
   ============================================ */

ion-header {
  padding-top: env(safe-area-inset-top);
  padding-top: constant(safe-area-inset-top);
}

/* Toolbar in header */
ion-toolbar:first-child {
  padding-top: env(safe-area-inset-top);
  padding-top: constant(safe-area-inset-top);
}

/* ============================================
   MODALS & ALERTS
   ============================================ */

ion-modal {
  --padding-bottom: calc(20px + env(safe-area-inset-bottom));
}

ion-alert {
  --padding-bottom: calc(20px + env(safe-area-inset-bottom));
}

/* ============================================
   ANDROID SPECIFIC FIX
   ============================================ */

@supports (padding: max(0px)) {
  body {
    padding-left: max(0px, env(safe-area-inset-left));
    padding-right: max(0px, env(safe-area-inset-right));
    padding-top: max(0px, env(safe-area-inset-top));
    padding-bottom: max(0px, env(safe-area-inset-bottom));
  }

  ion-content {
    --padding-bottom: max(20px, env(safe-area-inset-bottom));
    --padding-top: max(20px, env(safe-area-inset-top));
  }

  .action-buttons,
  .button-group {
    padding-bottom: max(20px, env(safe-area-inset-bottom)) !important;
  }
}