/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@use "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@use "@ionic/angular/css/normalize.css";
@use "@ionic/angular/css/structure.css";
@use "@ionic/angular/css/typography.css";
@use "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@use "@ionic/angular/css/padding.css";
@use "@ionic/angular/css/float-elements.css";
@use "@ionic/angular/css/text-alignment.css";
@use "@ionic/angular/css/text-transformation.css";
@use "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @use "@ionic/angular/css/palettes/dark.always.css"; */
/* @use "@ionic/angular/css/palettes/dark.class.css"; */
@use "@ionic/angular/css/palettes/dark.system.css";

.custom-color-alert {
    --header-color: #852a3b !important; 
    --message-color: #444444 !important; 
}

.custom-color-alert .alert-head, 
.custom-color-alert .alert-head * {
    color: #852a3b !important;
}
.custom-color-alert .alert-message {
    color: #444444 !important; 
}
.d-none {
    display: none !important;
}